
# vim swap files
.*.sw[a-z]

# haskell's junk
dist
cabal-dev
*.hi
*.o

# logs
*.log

# js rewritten to coffee script
srv/resources/static/js/main.js
srv/resources/static/js/metamodel.js
srv/resources/static/js/viewsware.js
srv/resources/static/js/local.js