.container
  .row
    .col-md-4.diag-tree-editor--tree-panel
      .btn-toolbar
        button.btn.btn-success(data-bind='click: addSlide')
          i.glyphicon.glyphicon-plus
          | &nbsp;Новое дерево
    .col-md-8.diag-tree-editor--slide-editor-panel
      b …
