@require 'Component/App'
@require 'Component/Spinner'
@require 'Component/DiagTree/Editor'
@require 'Component/DiagTree/Editor/Tree'
@require 'Component/DiagTree/Editor/Tree/Item'
@require 'Component/DiagTree/Editor/TreeSearch'
