# redson snaplet configuration

# Directory which contains models definitions
models-directory = "resources/models"

# Perform permissions checking and disallow unknown models
transparent-mode = false
