body {
  padding-top: 40px;
  overflow:hidden;
  background-color:#ddd;
}

.icon {
  cursor: pointer;
}

.pane {
  position: absolute;
  top: 40px;
  bottom: 0px;
  overflow-y: auto;
  padding: 1%;
}

#left {
  left: 0;
  width: 30%;
}

#center {
  left: 32%;
  width: 46%;
}

#right {
  left: 80%;
}

#partner-left {
  left: 0;
  width: 45%;
}

#partner-center {
  right: 0;
  width: 50%;
}

.container-fluid {
  padding: 1%;
}

#loginlogo {
  text-align: center;
  margin-bottom: 20pt;
}

#tableView {
  width: 95%;
  margin-left: 1.2%;
}

#empty-fields > li {
  cursor: pointer;
}

.form-horizontal
.control-group {
  margin-bottom: 4px;
}

.form-horizontal
.control-label {
  padding-top: 4px;
}

input, textarea, select {
  padding: 2px;
}

.input-append .add-on {
  padding: 2px;
}

div.dataTables_length select {
    width: 75px;
}

input.pane-span,
textarea.pane-span, 
.uneditable-input.pane-span {
  width: 90%;
}

.input-append {
  width: 96%;
}

.form-vertical .control-group {
  margin-bottom: 0px;
}

.accordion-toggle {
  cursor: pointer;
}

.typeahead {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.lierror {
  color: red;
}

.nice-scrollbar::-webkit-scrollbar {width:.8em;}
.nice-scrollbar::-webkit-scrollbar-button:vertical,
.nice-scrollbar::-webkit-scrollbar-button:start:decrement,
.nice-scrollbar::-webkit-scrollbar-button:end:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:start:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:end:decrement,
.nice-scrollbar::-webkit-scrollbar-button:vertical:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:decrement,
.nice-scrollbar::-webkit-scrollbar-track:vertical,
.nice-scrollbar::-webkit-scrollbar-track-piece:vertical:start.
.nice-scrollbar::-webkit-scrollbar-track-piece:vertical:end,
.nice-scrollbar::-webkit-scrollbar-track-piece {display:none;}
.nice-scrollbar::-webkit-scrollbar-thumb:vertical {
  height:25px;
  border-radius:3px;
  background-color:whiteSmoke;
}

.complex-field-close {
    position: relative;
    left: 90%;
}
