body {
  padding-top: 40px;
  overflow:hidden;
}

.box {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px 4px 4px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 20px;
    padding: 19px;
}

#left {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 46%;
  overflow-y: auto;
}

#right {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 50%;
  width: 46%;
}

.container-fluid {
  padding: 1%;
}

#loginlogo {
  text-align: center;
  margin-bottom: 20pt;
}

#tableView {
  width: 95%;
  margin-left: 1.2%;
}

.form-horizontal
.control-group {
  margin-bottom: 4px;
}

.form-horizontal
.control-label {
  padding-top: 4px;
}

input, textarea, select {
  padding: 2px;
}

.input-append .add-on {
  padding: 2px;
}

div.dataTables_length select {
    width: 75px;
}

input.pane-span,
textarea.pane-span, 
.uneditable-input.pane-span {
  width: 90%;
}

.input-append {
  width: 96%;
}

.form-vertical .control-group {
  margin-bottom: 0px;
}

.accordion-toggle {
  cursor: pointer;
}

.typeahead {
  max-height: 200px;
  overflow-y: auto;
}
