ul.nav.nav-tabs
  li#front-screen
    a(href="#kpi/stat/front") Front Office
  li#order-screen
    a(href="#kpi/stat/order") Заказ услуг
  li#control-screen
    a(href="#kpi/stat/control") Контроль услуг
