ul.nav.nav-tabs
  li#stat-screen
    a(href="#kpi/stat") Статистические показатели
  li#operative-screen
    a(href="#kpi/operative") Оперативные показатели
  li#group-screen
    a(href="#kpi/group") Групповые показатели
