include _table

.row-fluid
  .span12.default-bs
    include _statNav

    +table(["Оператор",
            "Текущий статус",
            "Время",
            "Готов",
            "Занят",
            "Обед",
            "Перерыв"])