# Path to AES key file used to encode client session cookies
session-key = "resources/private/client_session_key.aes"

# Key used to encode remember cookies
remember-key = "resources/private/site_key.txt"

# Relative path to JsonFile authentication data store
user-db = "resources/private/users.json"

# Remember user logins for this long, in days
remember-period = 14
