# Path to AES key file used to encode client session cookies
session-key = "resources/private/client_session_key.aes"

# Key used to encode remember cookies
remember-key = "resources/private/site_key.txt"

# Relative path to JsonFile authentication data store
user-db = "resources/private/users.json"

# Remember user logins for this long, in days
remember-period = 14

# Local CaRMa instance name, visible somewhere on the screen
# local-name      = "Totally awesome branch"

# Minimal search query length
search-min-length = 4

# Weather API key
weather-key = "db7fed07d3db1c30b4e9be28e0b4caac"

psa-smtp-from  = "carma@carma.ruamc.ru"
psa-smtp-reply = "psa@ruamc.ru"
psa-smtp-to    = "psa-depil@mpsa.com"
psa-smtp-copy1 = "psa@ruamc.ru,Vladimir.Kulakov@ruamc.ru,alexander.zaitsev@mpsa.com,sergey.vershinin@mpsa.com,alexander.dimakov@ruamc.ru"
psa-smtp-copy2 = "psa@ruamc.ru"

genser-mail-from  = "carma@carma.ruamc.ru"
genser-mail-copy  = "genser@ruamc.ru"
genser-mail-reply = "carma@carma.ruamc.ru"

# This is used by the PgNotify loop
pg-conn-string = "postgres://carma_db_sync:pass@localhost:5432/carma"

# dmcc-ws service host. This is used by both server and clients. If
# left unspecified, this defaults to localhost
#
# dmcc-ws-host = "192.168.20.5"

dmcc-ws-port = 8333

contracts {
  importing {
    from-directory {
      import-dir = "resources/private/contracts"

      # If this file is presented in "import-dir" any attempt to import
      # contracts from directory will fail.
      #
      # "import-dir" is supposed to be mounted point so by default you place
      # empty "lock-file" into it and when remote directory is mounted this file
      # disappears and importing from directory is allowed then, and if
      # conenction is lost you will be prevented from unexpected behavior.
      #
      # And if you need "import-dir" being local for testing purposes
      # just remove this file.
      lock-file = ".not-mounted"

      extension = ".csv"
    }
  }
}
