

body {
  margin:0;
  background:#c8c8c8;
  font:12px "Calibri";
}


#info-header {
  top:50px;
  width:100%;
  height:60px;
  background:#3b4d5d;
  border-top:1px solid #4b5d6d;
  position:absolute;
}

#program-logo {
  padding:5px;
  margin:0 auto;
  display:block;
  height:45px;
}

#info-bottom {
  top:55px;
  width:100%;
  height:7px;
  background:#d4ca9d;
  position:absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.column {
  position:absolute;
  top:115px;
  bottom:2em;
  margin:1% 1% 0 1%;
}

#left{
  left:0;
  width:32%;
  float:left;
  overflow-y:auto;
}


#right{
  left:33%;
  width:48%;
  float:left;
  overflow:hidden;
}

#warnings {
  right:0;
  width:16%;
}

#left::-webkit-scrollbar {width:2%;}
#left::-webkit-scrollbar-button:vertical,
#left::-webkit-scrollbar-button:start:decrement,
#left::-webkit-scrollbar-button:end:increment,
#left::-webkit-scrollbar-button:vertical:start:increment,
#left::-webkit-scrollbar-button:vertical:end:decrement,
#left::-webkit-scrollbar-button:vertical:increment,
#left::-webkit-scrollbar-button:vertical:decrement,
#left::-webkit-scrollbar-track:vertical,
#left::-webkit-scrollbar-track-piece:vertical:start.
#left::-webkit-scrollbar-track-piece:vertical:end,
#left::-webkit-scrollbar-track-piece {display:none;}
#left::-webkit-scrollbar-thumb:vertical {
  height:25px;
  border-radius:8px;
  background-color:#8b8b9d;
}


#footer {
  bottom:0;
  width:100%;
  height:2em;
  position:absolute;
  background:#2d485b;
}

#menu {
  margin:0 auto;
  text-align:center;
  width:33em;
}

#menu .menuitem {
  font: 1em "Calibri", sans-serif;
  float:left;
  color:#dbedfd;
  cursor:pointer;
  padding:0.5em 1.2em 0.1em 1.2em;
  text-decoration:none;
}

#menu .menuitem.selected {
  background:#d9cea1;
  color:black;
  pointer-events: none;
  cursor: default;
}

#menu .menuitem:hover {
  font-weight:bold;
}

p {
  margin:5px 0 5px 0;
}

textarea, input[type=text] {
  border:0;
  border-radius:3px;
  width:100%;
  font-family:serif;
}

#right input[type=text] {
  min-width:270px;
  width:30%;
}

fieldset {
  border:0;
}

legend {
  font:1.2em sans-serif bold;
  color:#666666;
}

textarea {
  width:99%;
  height:60px;
}

label {
  font:1em sans-serif;
  color:#666666;
}


