avarcom-tasks {
  .twitter-typeahead {
    width: 100%;

    .tt-input { border-radius: 4px !important; }
  }

  .dropdown-menu {
    max-height: 300px;
    overflow: auto;

    & > li > a {
      white-space: normal;
      padding: 5px 20px;
    }
  }
}
