// ko if: $component.isLoading
div(data-bind='spinner: true')
// /ko

// ko if: $component.isFailed
div
  p
    span.label.label-danger Ошибка
    |
    | Произошла ошибка при загрузке данных
// /ko

// ko if: $component.isInputVisible
div
  input.form-control(data-bind='\
    typeahead: {\
      value: $component.selectedTask,\
      valueUpdate: "keyup",\
      datasets:\
        [{limit: 100, source: $component.typeaheadHandlerObservable()}],\
    },\
  ')
// /ko

div(data-bind='foreach: $component.tasks')
  div(data-bind='attr: {"data-task-id": id}')
    input(type='checkbox' data-bind='\
      disable: $component.isDisabled,\
      checked: isChecked,\
      event:   {change: $component.onCheckboxChange},\
    ')

    | &nbsp;&nbsp;
    span(data-bind='text: label')

    // ko ifnot: $component.isDisabled
    | &nbsp;&nbsp;
    a(href='#' data-bind='click: $component.removeTask') ×
    // /ko

    br
