#search-wrap-template
  .row-fluid
    .span1(data-bind="click: function () { kvm.showFields.del(fld) }")
      label
        i.icon-remove
    .content.span11(data-bind="with: kvm")

#group-ro-template
  div(data-bind="foreach: fields")
    div(data-bind="render: $data")

#dictionary-ro-template
  span(data-bind="text: $rawData.local")

#text-ro-template
  span(data-bind="text: $data")

#checkbox-ro-template
  span(data-bind="text: $data ? '✓' : ''")

#ident-ro-template
  a(data-bind="attr: {href: urlFor($rawData)}, text: $data ")

#datetime-ro-template
  span(data-bind="text: $data")

#date-ro-template
  span(data-bind="text: $data")

#phone-ro-template
  span(data-bind="text: $data")

#int-ro-template
  span(data-bind="text: $data")