
#group-ro-template
  div(data-bind="foreach: fields")
    div(data-bind="render: $data")

#dictionary-ro-template
  span(data-bind="text: $rawData.text")

#text-ro-template
  span(data-bind="text: $rawData.text")

#checkbox-ro-template
  span(data-bind="text: $data ? '✓' : ''")

#contract_isActive-ro-template
  span(data-bind="text: $data ? '✓' : ''")

#ident-ro-template
  a(data-bind="attr: {href: $rawData.urlFor()}, text: $rawData.text")

#datetime-ro-template
  span(data-bind="text: $rawData.text")

#datetime-local-ro-template
  span(data-bind="text: $rawData.text")

#date-ro-template
  span(data-bind="text: $rawData.text")

#phone-ro-template
  span(data-bind="text: $rawData.text")

#int-ro-template
  span(data-bind="text: $rawData.text")

#case-ident-ro-template
  // ko if: $data
  a(data-bind="attr: { href: '/#case/' + $data }, text: $data")
  // /ko

#callType-special-ro-template
  span(data-bind="text: $rawData.text")
