name = DiagTreeEditorSlideEditorAnswer

.{name}
  display block
  position relative
  border none
  padding 0 8px

  .{name}--buttons
    display none

  &:hover .{name}--buttons
    display block

  .{name}--answer
    border none

  .{name}--image
    margin 10px
    max-width 30%
