name = DiagTreeEditorSlideEditorResource

.{name}
  display block
  position relative
  border none
  padding 0 8px
  margin 1px
  outline 1px dashed rgba(255, 255, 255, 0)
  transition outline-color .3s ease-in-out

  .{name}--buttons
    display none

  &:hover
    outline-color silver

    .{name}--buttons
      display block

  .{name}--image
    margin 10px
    max-width 30%
