name = DiagTreeEditorSlideEditorResources

.{name}
  .{name}--list
    margin-bottom 10px

  .{name}--add-button
    m = 15px
    margin-left m + 2px // +2px for hover outline gap (margin 2px)
    margin-right m
    margin-bottom 10px
