<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/s/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/s/css/local.css" />
    <script src="/s/js/3p/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">

      var BrowserDetect = {
        init: function () {
          this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
          this.version = this.searchVersion(navigator.userAgent)
            || this.searchVersion(navigator.appVersion)
            || "an unknown version";
          this.OS = this.searchString(this.dataOS) || "an unknown OS";
        },
        searchString: function (data) {
          for (var i=0;i<data.length;i++) {
            var dataString = data[i].string;
            var dataProp = data[i].prop;
            this.versionSearchString = data[i].versionSearch || data[i].identity;
            if (dataString) {
              if (dataString.indexOf(data[i].subString) != -1)
                return data[i].identity;
            }
            else if (dataProp)
              return data[i].identity;
          }
        },
        searchVersion: function (dataString) {
          var index = dataString.indexOf(this.versionSearchString);
          if (index == -1) return;
          return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
        },
        dataBrowser: [
          {
            string: navigator.userAgent,
            subString: "Chrome",
            identity: "Chrome"
          },
          { 
            string: navigator.userAgent,
            subString: "OmniWeb",
            versionSearch: "OmniWeb/",
            identity: "OmniWeb"
          },
          {
            string: navigator.vendor,
            subString: "Apple",
            identity: "Safari",
            versionSearch: "Version"
          },
          {
            prop: window.opera,
            identity: "Opera",
            versionSearch: "Version"
          },
          {
            string: navigator.vendor,
            subString: "iCab",
            identity: "iCab"
          },
          {
            string: navigator.vendor,
            subString: "KDE",
            identity: "Konqueror"
          },
          {
            string: navigator.userAgent,
            subString: "Firefox",
            identity: "Firefox"
          },
          {
            string: navigator.vendor,
            subString: "Camino",
            identity: "Camino"
          },
          {   // for newer Netscapes (6+)
            string: navigator.userAgent,
            subString: "Netscape",
            identity: "Netscape"
          },
          {
            string: navigator.userAgent,
            subString: "MSIE",
            identity: "Explorer",
            versionSearch: "MSIE"
          },
          {
            string: navigator.userAgent,
            subString: "Gecko",
            identity: "Mozilla",
            versionSearch: "rv"
          },
          {     // for older Netscapes (4-)
            string: navigator.userAgent,
            subString: "Mozilla",
            identity: "Netscape",
            versionSearch: "Mozilla"
          }
        ],
        dataOS : [
          {
            string: navigator.platform,
            subString: "Win",
            identity: "Windows"
          },
          {
            string: navigator.platform,
            subString: "Mac",
            identity: "Mac"
          },
          {
               string: navigator.userAgent,
               subString: "iPhone",
               identity: "iPhone/iPod"
            },
          {
            string: navigator.platform,
            subString: "Linux",
            identity: "Linux"
          }
        ]

      };
      BrowserDetect.init();

      $(function() {
        $(".field").first().focus();
        var msg = "<div class='span6 offset2'>                             \
        Для использования системы необходим браузер Google chrome          \
        версии не ниже 10, установить его можно по следующей ссылке:       \
        <a href='http://www.google.com/chrome'> www.google.com/chrome </a> \
        </div>";

        if (BrowserDetect.browser !== 'Chrome'
          && BrowserDetect.browser !== 'Firefox') {
          $("body").html(msg);
        }

        $("form").submit(function() {
          var ext = $("input[name=avayaExt]")
          var pwd = $("input[name=avayaPwd]")
          document.cookie
            = "avaya=" + escape(ext.val() + "|" + pwd.val())
            + "; path=/;"
          ext.val('')
          pwd.val('')
          return true
        })
      })
    </script>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span4"> </div>
      <div id="loginblock" class="box span4">
        <div id="loginlogo">
          <img src="/s/img/logo.png" />
        </div>
        <form class="form-horizontal" action="/login/" method="POST">
          <fieldset>
            <legend>Вход в систему</legend>
            <div class="control-group">
              <div class="control-label">
                <label>Имя пользователя</label>
              </div>
              <div class="controls">
                <input type="text" class="field" name="login" />
              </div>
            </div>

            <div class="control-group">
              <div class="control-label">
                <label>Пароль</label>
              </div>
              <div class="controls">
                <input type="password" class="field" name="password" />
              </div>
            </div>

            <div class="control-group">
              <div class="control-label">
                <label>Avaya</label>
              </div>
              <div class="controls">
                <input type="text" class="field input-mini" name="avayaExt" />
                <input type="text" class="field input-mini" name="avayaPwd" />
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox inline">
                  <input type="checkbox" class="field" name="remember" />
                  Запомнить меня
                </label>
              </div>
            </div>
          <div class="form-actions">
            <button class="btn btn-large btn-success" type="submit">Войти</button>
          </div>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
