name           = DiagTreeEditorSlideEditor
resources-name = DiagTreeEditorSlideEditorResources
answers-name   = DiagTreeEditorSlideEditorAnswers

.{name}
  display block
  position relative

  .{name}--header
    height auto
    font-size 36px

  .{resources-name}
  .{answers-name}
    .{resources-name}--list
    .{answers-name}--list
      margin-bottom 10px

    .{resources-name}--add-button
    .{answers-name}--add-button
      margin-left 16px // 1px more for hover outline gap (margin 1px)
      margin-right 15px
      margin-bottom 10px
