name           = DiagTreeEditorSlideEditor
resources-name = DiagTreeEditorSlideEditorResources
answers-name   = DiagTreeEditorSlideEditorAnswers

.{name}
  display block
  position relative

  .{name}--header
    height auto
    font-size 36px

  .{resources-name}
  .{answers-name}
    .{resources-name}--list
    .{answers-name}--list
      margin-bottom 10px

    .{resources-name}--add-button
    .{answers-name}--add-button
      m = 15px
      margin-left m + 2px // +2px for hover outline gap (margin 2px)
      margin-right m
      margin-bottom 10px
