name = DiagTreeEditorSlideEditor

.{name}
  display block
  position relative

  .{name}--header
    height auto
    font-size 36px

  .{name}--resources-list
    margin-bottom 10px

  .{name}--resource-button
    margin-left 15px
    margin-right 15px
    margin-bottom 10px
