name = DiagTreeEditorTree

.{name}
  pad = 10px
  depth-padding = 16px

  display block
  padding-right pad

  .{name}--dont-shift-levels
    padding 0 pad 0
    margin-top 0

  .{name}--folded-parents-menu
    padding 0 pad pad pad

  .{name}--more-elems
    padding 0 pad 5px
    color grey
