include /fields/_form_utils.pug

.row
  .col-md-6
    .row
      h3 Фильтрация
    .row.col-md-6.form-horizontal
      each v, i in { 'city-select': "Город:", 'program-select': "Программа:", 'partner-select': "Партнёр:" }
        .form-group
          label.col-md-4= v
          .col-md-8
            select.form-control(id=i data-bind='foreach: $data')
              option(data-bind='value: id, text: name')
  .col-md-6
    .row
      h3 Интервал
    .row.col-md-6.form-horizontal
      .form-group
        +dateInput("", "", "")#rkc-date-from
      .form-group
        +dateInput("", "", "")#rkc-date-to
      .form-group
        button#reload.btn Обновить
