// Backoffice screen
#main-content(style='text-align: center;')
  div
    #new-call-button
      button.btn.btn-success
        | Принять звонок
    #zardoz
      #standby-msg(style='position: relative; \
                          top: 50%;   \
                          left: 40%;  \
                          width: 20%; \
                          font-size: x-large;')
        | Ожидайте новых действий
