// Backoffice screen
#main-content(style='text-align: center;')
  div
    #zardoz
      div(style='position: relative; \
                          top: 50%;   \
                          left: 40%;  \
                          width: 20%; \
                          font-size: x-large;')
        #standby-msg
          | Ожидайте новых действий
        #new-call-button(style='margin-top: 1em')
          button.btn.btn-success.btn-lg
            i.glyphicon.glyphicon-new-window
            | &nbsp;Новый звонок
