.container(style="margin-top: 20px")
  .page-header
    h3 Управление параметрами КЦ
  .central-form.row
    .col-md-8
      #config-form.form-horizontal
      #config-permissions(style="margin-top: 20px")
