.col-md-12.pane.nice-scrollbar
  .row
    .col-md-6
      h2
        a(href='#search/partners/mobile', target='_blank', title='Перейти на экран ДиП с мобильными партнёрами')
          | Мобильные партнёры
      table#rkc-mobile-partners-table.table.table-striped.table-bordered
        thead
          tr
            th(width='25%') Название
            th(width='20%') Время обновления
            th(width='15%') Город
            th(width='40%') Адрес
        tbody
