.col-md-12

  include ./_rkc_header.jade

  .row
    .col-md-6
      h2 Типы звонков
      br
      table#rkc-front-calls-table.table.table-stripped.table-bordered
        thead
          tr
            th(width='40%') Звонок от
            th(width='40%') Тип звонка
            th(width='20%') Количество
        tbody  
    .col-md-6
      h2 Операторы
      table#rkc-front-ops-table.table.table-stripped.table-bordered
        thead
          tr
            th(width='40%') Оператор
            th(width='30%') Кол-во принятых звонков
            th(width='30%') Кол-во созданных кейсов
        tbody
