.row
  .col-md-9(style="overflow: auto")
    include /lib/_searchTable.jade

  .col-md-3
    #search-conditions(data-bind='foreach: kvm.showFields')
      div(data-bind='renderField: $data')
    #show-field(data-bind='renderField: f')
