// a protection from id collisions (also from jquery-monkeys)
- var rnd = String(Math.random()).slice(2)

#vin-form.container(style="margin-top: 20px")
  .page-header
    h3 Загрузка VIN
  form.form-horizontal(style="width: 80%")
    #new-form
    .form-group#vin-upload-form
      label.col-md-4.control-label(for=`vin-upload-file--${rnd}`) Файл
      .col-md-8
        upload-file-field(params=`
          withButton    : false,
          autoClear     : false,
          mimeFilter    : 'text/csv',
          fileInputId   : 'vin-upload-file--${rnd}',
          selectedFiles : vinFilesToUpload,
          isLoading     : vinIsProcessing,
        `)
    .form-group
      .col-md-offset-4.col-md-8
        a#vin-send.btn.btn-primary(data-bind=`click: vinSendHandler`)
          i.glyphicon.glyphicon-upload.glyphicon-white
          | &nbsp;Загрузить

    div#vin-is-admin(data-bind=`visible: vinIsAdmin`)
      hr
      .form-group
        .col-md-offset-4.col-md-8
          a#vin-import-dir.btn.btn-primary(data-bind=`click: vinImportDirectoryHandler`)
            i.glyphicon.glyphicon-upload.glyphicon-white
            | &nbsp;Загрузить из папки

  fieldset
    #vin-box-container

.hidden#vin-box-template
  .alert.alert-info.vin-box
    button.close(data-dismiss='alert', data-bind='click: cleanup')
        | ×
    div
        i.glyphicon.glyphicon-file
        b(data-bind='text: filename')
        | :&nbsp;
        span(data-bind='visible: !uploaded()')
          | загружается
        span(data-bind='visible: uploaded()')
          span(data-bind='visible: !done()')
            | обрабатывается&nbsp;
            i.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
        span(data-bind='visible: resultMsg')
          span(data-bind='visible: fileUrls().length == 0')
            | обработан без ошибок
          span(data-bind="visible: fileUrls().length > 0")
            | обработан, имеются ошибки
            | (всего&nbsp;
            span(data-bind='text: bad')
            span(data-bind='foreach: fileUrls')
              | :&nbsp;
              a(target='_blank', data-bind='attr: { href: $data }')
                i.glyphicon.glyphicon-download-alt
                b отчёт
            | )
        span(data-bind='visible: errorMsg')
          | критическая ошибка (
          span(data-bind='text: errorMsg')
          | )
        .progress.progress-striped.active
          .progress-bar(style='width: 0%;')
