// Navigation bar on top
nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        addLocalName CaRMa
    .collapse.navbar-collapse
      ul.nav.navbar-nav#nav(data-bind=`component: 'navbar'`)
      ul.nav.navbar-nav.navbar-right#current-user
        li.divider-vertical
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span(data-bind='text: safelyGet(\'login\')')
            b.caret
          ul.dropdown-menu
            li
              a(href='/logout/')
                i.icon-off.icon-black
                | Выход
        li.dropdown
          .attention-magnet(style='display: none;', data-bind="visible: alert")
          a.dropdown-toggle(href='#', data-toggle='dropdown',
            data-bind="css: {important: alert}, text: safelyGet('currentStateLocal')")
          ul.dropdown-menu
            li.abandoned-services(
              data-bind='visible: abandonedServices().length > 0')
              b Услуги в стaтусе "Создание":
              ul#abandoned-services
                // ko foreach: abandonedServices
                li
                  a(data-bind='attr: {href: href}, text: text')
                // /ko
              hr
            li.current-user-menu
              .status
                b Текущий статус:
                span(data-bind="text: safelyGet('currentStateLocal')")
                span(data-bind="text: safelyGet('timeInCurrentState')")
              .btn-group.btn-group-xs#user-state-btngroup
                button.btn.btn-default.btn-small(type='button',
                  data-bind="css: {\n\
                    'btn-success': safelyGet('delayedState') == 'Rest'\n\
                    },\n\
                    disable: inSBreak() || inNA(),\n\
                    click: function () {\n\
                    toggleDelayed('Rest')\n\
                    }")
                  | Перерыв
                button.btn.btn-default.btn-small(type='button',
                  data-bind="css: {\n\
                    'btn-success': safelyGet('delayedState') == 'Dinner'\n\
                    },\n\
                    disable: inSBreak() || inNA(),\n\
                    click: function () { toggleDelayed('Dinner')}")
                  | Обед
include navbar/cti
