name = DiagTreeEditor

.{name}
  display block
  margin 20px

  .{name}--tree-panel
    > .btn-toolbar
      padding 10px

    .{name}--tree-hints
      padding 10px

      > h5
        font-style italic

      > ul
        padding-left 0

        > li
          list-style none

    .{name}--processing
      text-align center

  // .{name}--slide-editor-panel
