body {
  padding-top: 40px;
  background-color:#ddd;
}

.icon {
  cursor: pointer;
}

.pane {
  position: absolute;
  top: 40px;
  bottom: 0px;
  overflow-y: auto;
  padding: 1%;
}

.call-pane {
  position: absolute;
  top: 40px;
  bottom: 50%;
  overflow-y: auto;
  padding: 1%;
}

#bottom {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding: 1%;
}

.dataTables_filter {
  float: left;
  text-align: left;
}

#search-query {
  width: 30%;
}

#left {
  left: 0;
  width: 30%;
}

#center {
  left: 32%;
  width: 46%;
}

#right {
  left: 80%;
}

#partner-left {
  left: 0;
  width: 45%;
}

#partner-center {
  right: 0;
  width: 50%;
}

#user-left {
  left: 0;
  width: 45%;
}

#user-center {
  right: 0;
  width: 50%;
}

.container-fluid {
  padding: 1%;
}

.row-fluid [class*="span"] {
  min-height: 26px;
}

#loginlogo {
  text-align: center;
  margin-bottom: 20pt;
}

#tableView {
  width: 95%;
  margin-left: 1.2%;
}

#empty-fields > li {
  cursor: pointer;
}

.form-horizontal
.control-group {
  margin-bottom: 4px;
}

.form-horizontal
.control-label {
  padding-top: 4px;
}

input, textarea, select {
  padding: 2px;
}

.input-append .add-on {
  padding: 2px;
}

div.dataTables_length select {
    width: 75px;
}

input.pane-span,
textarea.pane-span,
.uneditable-input.pane-span {
  width: 90%;
}

.input-append {
  width: 96%;
}

.form-vertical .control-group {
  margin-bottom: 0px;
}

.accordion-toggle {
  cursor: pointer;
}

.typeahead {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.lierror {
  color: red;
}

.nice-scrollbar::-webkit-scrollbar {width:.8em;}
.nice-scrollbar::-webkit-scrollbar-button:vertical,
.nice-scrollbar::-webkit-scrollbar-button:start:decrement,
.nice-scrollbar::-webkit-scrollbar-button:end:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:start:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:end:decrement,
.nice-scrollbar::-webkit-scrollbar-button:vertical:increment,
.nice-scrollbar::-webkit-scrollbar-button:vertical:decrement,
.nice-scrollbar::-webkit-scrollbar-track:vertical,
.nice-scrollbar::-webkit-scrollbar-track-piece:vertical:start,
.nice-scrollbar::-webkit-scrollbar-track-piece:vertical:end,
.nice-scrollbar::-webkit-scrollbar-track-piece {display:none;}
.nice-scrollbar::-webkit-scrollbar-thumb:vertical {
  height:25px;
  border-radius:3px;
  background-color:whiteSmoke;
}

.complex-field-close {
    position: relative;
    left: 90%;
}

#supervisor-left {
  left: 0;
  width: 70%;
}

#supervisor-right {
  right: 0;
  width: 25%;
}

#sms-left {
  left: 0;
  width: 70%;
}

#sms-right {
  right: 0;
  width: 25%;
}

.table-and-details .left {
  left: 0;
  width: 70%;
}

.table-and-details .right {
  right: 0;
  width: 25%;
}

.capitalize { text-transform: capitalize; }

#case-comments-i { width: 100% }

.osMap {
  height: 600px;
}

.checkbutton label input {
  display: none;
}

#partnerMapModal {
  left: 35%;
  width: 65%;
}

table.dataTable tr.selected-row {
  background-color: #ffc0c0;
}

table.dataTable tr.selected-row td {
  background-color: #ffc0c0;
}

table.dataTable tr.selected-row td.sorting_1 {
  background-color: #ffc0c0;
}

.central-form {
  width: 60%;
  margin-left:20%;
}

#vin-form select {
  width: 50%;
}

.selected-partner {
  border-right: 4px solid #ff9999
}

.disabled-partner {
  color: #aaaaaa
}

.expired input {
  background-color: #faa732;
}

.icon-refresh-animate {
  animation-name: infinite-spining;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: infinite-spining;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: infinite-spining;
  -moz-animation-duration: .7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@keyframes infinite-spining {
  from { transform: rotate( 0deg );   }
  to   { transform: rotate( 360deg ); }
}
@-webkit-keyframes infinite-spining {
  from { -webkit-transform: rotate( 0deg );   }
  to   { -webkit-transform: rotate( 360deg ); }
}
@-moz-keyframes infinite-spining {
  from { -moz-transform: rotate( 0deg );   }
  to   { -moz-transform: rotate( 360deg ); }
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
}

.alert {
  position: relative;
  z-index: 1030;
}

.finded {
  background-color: #fefa4f;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
}

.modal-dont-block {
  z-index: 1;
}

.table-break-word {
  table-layout: fixed;
  word-wrap: break-word;
}

.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bs-docs-less-margins {
  position: relative;
  padding: 30px 19px 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bs-docs-example-after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.bs-docs-example-close {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 6px 14px;
}

.chart path, .chart line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart text {
    font: 10px sans-serif;
}

.chart .grid-line {
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.chart .Ready {
    fill: #ef2929;
}

.chart .Busy {
    fill: #8ae234;
}

.chart .LoggedOut {
    fill: #888a85;
}

.chart .Rest {
    fill: #fcaf3e;
}

.chart .Dinner {
    fill: #e9b96e;
}

.chart .ServiceBreak {
    fill: #729fcf;
}

.chart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.chart .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.control-group.warning input {
  border-radius: 5px;
  background-color: #f89406;
  padding: 2px 4px;
  color: #fff;
}

.control-group.warning label * {
  color: #f89406;
}

.inline-spinner {
  width: 70px;
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.inline-spinner > div {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-color: #3a87ad;
  border-style: solid;
  border-width: 1px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.inline-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.inline-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.inline-spinner {
  width: 70px;
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.inline-spinner > div {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-color: #3a87ad;
  border-style: solid;
  border-width: 1px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.inline-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.inline-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.navbar .nav>li>span.nav-block {
  float: none;
  padding: 7.5px 15px 7.5px;
  color: #999999;
  text-decoration: none;
}
.nav>li>span.nav-block {
  display: block;
}

.current-user-menu {
  margin-left: 5px;
  margin-right: 5px;
}

input.re-failed {
  background-color: #FEE793;
}

.default-bs {
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
