/* 70px is height os navbar according to bs styles */
#main-container {
  /* FIXME:
   * Somehow `height: calc(100vh - 70px);` does not work.
   * After preprocessing with less it is converted to `height: 30vh;`
   * */
  height: 100vh;
  padding-top: 40px;
  overflow-x: hidden;
}

#layout {
  height: 100%;
}

#layout > .screen {
  height: 100%;
}

/* suppress row margins, so we won't get off the screen */
.screen.row, .screen > .row {
  margin-left: 0px;
  margin-right: 0px;
}
.col {
  height: 100%;
  overflow-y: auto;
}

#call-screen > .row {
  /* this will count width including paddings, so there is no more scroll */
  box-sizing: border-box;
  height: 50%;
  overflow-y: auto;
}

#call-screen > .row > .col {
  height: 100%;
  overflow-y: auto;
}

#call-screen > .bottom-part {
  border-top: 1px #aaa;
  border-top-style: dotted;
  padding-top: 5px;
  /* margin-top: 5px; */
}

/* hack to make feedback left of addon */
.input-group-addon ~ .form-control-feedback {
  right: 40px !important;
}

/* hack to fix misaligned addon for small inputs */
.input-group-sm .input-group-addon {
    padding-bottom: 4px;
}

.form-group .input-group {
  width: 100%;
}


tr.details > td {
  background-color: #f9f9f9;
}

.checkbutton label input {
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.osMap {
  height: 600px;
}

.vmargined-1 > .row {
  margin-top: 5px;
}

.vmargined-2 > .row {
  margin-top: 10px;
}

/* so dropdowns won't hide behind modal windows */
.typeahead.dropdown-menu {
  z-index: 1051;
}

.saving-spinner {
  right: 30px !important;
}