doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title CaRMa
    link(rel="stylesheet" type="text/css" href="/s/frontend/bundle.carma.css")
  body
    #app
    script(src="/s/pureFrontend/bundle.vendor.js")
    script(src="/s/pureFrontend/bundle.pure.js")
