fdds-login = "user"
fdds-uri = "http://fdds.arctransistance.com/FrontEnd/SearchVin.aspx"
fdds-password = "secret"

weather-key = ""

psa-smtp-from = ""
# Comma-separated list of recipients
psa-smtp-recipients = "jorpic@gmail.com"

reptowage-smtp-from = ""

reptowage-citroen-recipients = "support@formalmethods.ru"
reptowage-peugeot-recipients = "support@formalmethods.ru"

# Repeated towage mail template (use double $ when referencing
# template context keys)
reptowage-template = "Добрый день, милорд!\nСообщают, что карета $$car_vin$$ $$car_make$$ $$car_model$$ $$car_plateNum$$ застревала на подъездах к замку и была вынесена крестьянами из грязи на руках $$times_first$$ и $$times_second$$! В обоих случаях почтенный герцог сообщил следующее: $$wazzup$$.\n\nПомощь от $$times_second$$ записана в наши книги как вторичная."
